#current-balance {
    display: flex;
    flex-direction: column;
}

#balance-head {
    font-size: 15px;
    font-weight: 800;
}

#actual-balance {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
}